<!DOCTYPE html>
<html>
<head>
    <title>Caesar Cipher Video Encoder</title>
</head>
<body>
    <h1>Caesar Cipher Video Encoder</h1>
    <form action="/encode" method="POST" enctype="multipart/form-data">
        <label for="message">Pesan:</label>
        <textarea id="message" name="message" rows="4" cols="50"></textarea><br><br>
        <label for="key">Kunci:</label>
        <input type="number" id="key" name="key" min="0" max="25"><br><br>
        <label for="video">Pilih Video:</label>
        <input type="file" id="video" name="video"><br><br>
        <input type="submit" value="Enkripsi dan Sisipkan ke Video">
    </form>
    <h1>Dekode Pesan dari Video</h1>
    <form action="/decode" method="POST">
        <input type="file" id="video" name="video"><br><br>
        <label for="key">Kunci:</label>
        <input type="number" id="key" name="key" min="0" max="25"><br><br>
        <input type="submit" value="Dekode Pesan dari Video">
    </form>
</body>
</html>
